* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #000000; 
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
  gap: 15px;
}

.logo {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 150px;
}

.logo img {
  vertical-align: middle;
  height: 24px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 16px;
} 

.site-navigasi {
  flex-grow: 1;
  margin-left: 50px;
}

.header nav img {
  width: 20px;
  height: auto;
}

.Cta {
  display: flex;
  align-items: center;
  padding-right: 150px;
}

.header a{
  text-decoration: none;
  color: whitesmoke;
}

/* detail product */

.detail{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.main-img {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.thumb-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumb-row img {
  width:100%;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}



